.login-container,
.login-container *{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

.login-container{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    gap:16px;
    padding:110px 20px 40px;
    background:#eaf7ff;
}

.login-form{
    width:380px;
    background:white;
    padding:35px;
    border-radius:12px;
    box-shadow:0 0 20px rgba(0,0,0,0.2);
    text-align:center;
}

.login-box h2,
.signup-box h2{
    color:#0b7dda;
    margin-bottom:20px;
}

.login-container input{
    width:100%;
    padding:12px;
    margin:10px 0;
    border:1px solid #ccc;
    border-radius:8px;
    font-size:16px;
}

.login-container button{
    width:100%;
    padding:12px;
    background:#0b7dda;
    color:white;
    border:none;
    border-radius:8px;
    cursor:pointer;
    font-size:16px;
    transition:.3s;
}

.login-container button:hover{
    background:#085fa6;
}

.login-container p{
    margin-top:15px;
}

.login-container a{
    color:#0b7dda;
    text-decoration:none;
    font-weight:bold;
}
